:root {
  --canvas-width: 800px;
  --canvas-height: 900px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  background-color: rgb(15, 15, 15);
  aspect-ratio: 8/9;
  width: 800px;

  margin: auto;
  position: relative;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  height: 100%;
  opacity: 0.8;
}

.spacer {
  flex: 2;
  z-index: 10;
}

.title {
  flex: 1;
  align-self: center;
  font-family: 'Press Start 2P';
  font-size: 100%;
  font-size: 50px;
  text-align: center;
  height: 100%;
  color: rgba(251 235 78 / 1);
  border-radius: 8px;
  z-index: 10;
  margin: auto;
}

.title-text {
  background-color: rgba(10 10 10 / 0.5);
  padding: 1rem;
}

#btn-play {
  font-family: 'Press Start 2P';
  font-size: 30px;
  border-radius: 8px;
  background-color: rgba(10 10 10 / 0.7);
  color: #75d47d;
  border: 1px solid #1c135c;
  padding: 10px 20px 10px 20px;
  z-index: 10;
  transition: 0.3s;
  margin: auto;
  margin-bottom: 20%;
}

#btn-play:hover {
  color: #e0aa67;
  transform: scale(1.05);
}

.hidden {
  display: none;
}
